{deps, []}.

%% Check required ERTS or OTP release version
{require_erts_vsn, ".*"}.
{require_otp_vsn, ".*"}.
{require_min_otp_vsn, ".*"}.

{relx, [
    {release, {erl_py_modbus_tk, "0.0.1"}, [
        erl_py_modbus_tk,
        runtime_tools
    ]},
    {extended_start_script, true},
    {include_erts, true},
    {include_src, false},
    {sys_config, "sys.config"},
    {vm_args_src, "vm.args"},
    {dev_mode, false}
]}.
